@model DataLayer.Page

@{
    ViewBag.Title = "ShowBooks";
}


<div class="breadcrumb-wrap p-3 bg-white my-4 rounded">
    <nav>
        <ol class="d-flex">
            <li><a href="/">خانه</a></li>
            <li><a href="/Books/ArchiveBooks">  کتابها </a></li>
            <li><a href="/Books/ArchiveBooks">  @Model.PageGroup.GroupTitle </a></li>
            <li>  @Model.Title </li>
            
        </ol>
    </nav>
</div>


@*<h2>ShowBooks</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInSlider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInSlider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowPersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowPersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBorrow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBorrow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
